apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  labels:
    prometheus: ops
  name: ops
  namespace: monitoring
spec:
  walCompression: true
  externalLabels:
    cluster: default
  nodeSelector:
    monitoring: "true"
  retention: 2h
  podMetadata:
    labels:
      prometheus-instance: ops
  alerting:
    alertmanagers:
      - name: alertmanager-mopsn
        namespace: monitoring
        pathPrefix: /alertmanager
        port: web
  evaluationInterval: 60s
  scrapeInterval: 60s
  externalUrl: /prometheus
  routePrefix: /prometheus
  portName: web
  replicas: 1
  resources:
    limits:
      cpu: "1"
      memory: 3Gi
    requests:
      cpu: 200m
      memory: 512Mi
  ruleNamespaceSelector: {}
  ruleSelector:
    matchLabels:
      prometheus: ops
      role: alert-rules
  securityContext:
    fsGroup: 2000
    runAsNonRoot: true
    runAsUser: 1000
  serviceAccountName: prometheus
  serviceMonitorSelector:
    matchLabels:
      ops: "true"
  podMonitorSelector:
    matchLabels:
      ops: "true"
  thanos:
    image: registry.cn-beijing.aliyuncs.com/opshub/thanosio-thanos:v0.25.2
