apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  labels:
    prometheus: ops
  name: ops
  namespace: monitoring
spec:
  walCompression: true
  additionalArgs:
    - name: storage.tsdb.head-chunks-write-queue-size
      value: "0"
    - name: storage.tsdb.min-block-duration
      value: 1h
    - name: storage.tsdb.max-block-duration
      value: 1h
    - name: query.max-concurrency
      value: "20"
    - name: query.max-samples
      value: "100000000"
  externalLabels:
    cluster: default
  nodeSelector:
    monitoring: "true"
  retention: 2h
  podMetadata:
    labels:
      prometheus-instance: ops
  alerting:
    alertmanagers:
      - name: alertmanager-mopsn
        namespace: monitoring
        pathPrefix: /alertmanager
        port: web
  evaluationInterval: 60s
  scrapeInterval: 60s
  externalUrl: /prometheus
  routePrefix: /prometheus
  portName: web
  replicas: 1
  resources:
    limits:
      cpu: "1"
      memory: 3Gi
    requests:
      cpu: 200m
      memory: 512Mi
  ruleNamespaceSelector: {}
  ruleSelector:
    matchLabels:
      prometheus: ops
      role: alert-rules
  securityContext:
    fsGroup: 2000
    runAsNonRoot: true
    runAsUser: 1000
  serviceAccountName: prometheus
  serviceMonitorSelector:
    matchLabels:
      tier: ops
  podMonitorSelector:
    matchLabels:
      tier: ops
  thanos:
    image: registry.cn-beijing.aliyuncs.com/opshub/thanosio-thanos:v0.25.2
