apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    ops: "true"
  name: ops-istio-ingress
  namespace: monitoring
spec:
  endpoints:
  - interval: 15s
    path: /stats/prometheus
    port: http-envoy-prom
  namespaceSelector:
    matchNames:
    - istio-ingress
  selector:
    matchLabels:
      istio: ingress