apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    tier: ops
  name: ops-istiod
  namespace: monitoring
spec:
  endpoints:
  - interval: 15s
    path: /metrics
    port: http-monitoring
    metricRelabelings:
    # 只保留核心的 istiod 控制平面指标
    - action: keep
      regex: pilot_(xds_pushes|xds_push_time.*|proxy_convergence_time.*|conflict.*|virt.*|services|xds|endpoint.*|inbound.*|k8s_cfg_events)
      sourceLabels:
      - __name__
    # 删除过细的 histogram buckets
    - action: drop
      regex: pilot_(xds_push_time_bucket|proxy_convergence_time_bucket);(0\.01|0\.02|0\.04|0\.08|0\.16|0\.32|0\.64|1\.28|2\.56|5\.12|10\.24|20\.48|40\.96|81\.92)
      sourceLabels:
      - __name__
      - le
  namespaceSelector:
    matchNames:
    - istio-system
  selector:
    matchLabels:
      app: istiod
  targetLabels:
  - app