apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    ops: "true"
  name: ops-dcgm-exporter
  namespace: monitoring
spec:
  endpoints:
  - interval: 30s
    port: metrics
    relabelings:
    - action: replace
      sourceLabels:
      - __meta_kubernetes_endpoint_node_name
      targetLabel: node
  namespaceSelector:
    matchNames:
    - monitoring
  selector:
    matchLabels:
      app.kubernetes.io/name: dcgm-exporter
  targetLabels:
  - app