apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: ops-dragonfly
  namespace: monitoring
  labels:
    ops: "true"
spec:
  selector:
    matchLabels:
      app: dragonfly
  namespaceSelector:
    matchNames:
      - dragonfly-system
  endpoints:
    - port: http-metrics
      interval: 30s
      path: /metrics
      scheme: http
      honorLabels: true
