apiVersion: v1
kind: Service
metadata:
  labels:
    k8s-app: node-exporter
  name: ops-node-exporter
  namespace: monitoring
spec:
  ports:
  - name: metric
    port: 9100
    protocol: TCP
    targetPort: 9100
  selector:
    k8s-app: node-exporter
---
apiVersion: v1
kind: Secret
metadata:
  name: node-exporter-basic-auth
  namespace: monitoring
type: Opaque
data:
  username: ZGVmYXVsdA==   # echo -n 'default' | base64
  password: S1Bxb0VRMWJaQmRpY2Z1Tlk=   # echo -n 'KPqoEQ1bZBdicfuNY' | base64
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    ops: "true"
  name: ops-node-exporter
  namespace: monitoring
spec:
  endpoints:
  - interval: 15s
    basicAuth:
        username:
          name: node-exporter-basic-auth
          key: username
        password:
          name: node-exporter-basic-auth
          key: password
    port: metric
    relabelings:
    - action: replace
      sourceLabels:
      - __meta_kubernetes_endpoint_node_name
      targetLabel: node
  namespaceSelector:
    matchNames:
    - monitoring
    - kube-system
  selector:
    matchLabels:
      k8s-app: node-exporter
  targetLabels:
  - tier
