apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    tier: ops
  name: ops-kube-apiserver
  namespace: monitoring
spec:
  endpoints:
  - authorization:
      type: Bearer
      credentialsFile: /var/run/secrets/kubernetes.io/serviceaccount/token
    interval: 15s
    port: https
    scheme: https
    tlsConfig:
      caFile: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
      serverName: kubernetes
  - authorization:
      type: Bearer
      credentialsFile: /var/run/secrets/kubernetes.io/serviceaccount/token
    interval: 5s
    path: /metrics/slis
    port: https
    scheme: https
    tlsConfig:
      caFile: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
      serverName: kubernetes
  jobLabel: component
  namespaceSelector:
    matchNames:
    - default
  selector:
    matchLabels:
      component: apiserver
      provider: kubernetes
