apiVersion: v1
kind: Service
metadata:
  labels:
    app: ops-npu-exporter
  name: ops-npu-exporter
  namespace: kube-system
spec:
  ports:
  - name: metric
    port: 8082
    protocol: TCP
    targetPort: 8082
  selector:
    app: npu-exporter
  type: ClusterIP
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  annotations:
  labels:
    ops: "true"
  name: ops-npu-exporter
  namespace: monitoring
spec:
  endpoints:
  - interval: 15s
    port: metric
    relabelings:
    - action: replace
      sourceLabels:
      - __meta_kubernetes_endpoint_node_name
      targetLabel: node
  namespaceSelector:
    matchNames:
    - monitoring
    - kube-system
  selector:
    matchLabels:
      app: ops-npu-exporter
  targetLabels:
  - tier