apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  labels:
    tier: ops
  name: ops-node-exporter
  namespace: monitoring
spec:
  podMetricsEndpoints:
  - interval: 30s
    port: scrape
    basicAuth:
      username:
        name: node-exporter-basic-auth
        key: username
      password:
        name: node-exporter-basic-auth
        key: password
    relabelings:
    - action: replace
      sourceLabels:
      - __meta_kubernetes_pod_node_name
      targetLabel: node
  namespaceSelector:
    matchNames:
    - monitoring
    - kube-system
  selector:
    matchLabels:
      k8s-app: node-exporter