apiVersion: v1
kind: Secret
metadata:
  name: vmagent-ops-bearer-token
  namespace: monitoring
type: Opaque
stringData:
  token: xxx
---
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMAgent
metadata:
  name: ops
  namespace: monitoring
spec:
  replicaCount: 1
  serviceAccountName: prometheus
  image:
    repository: victoriametrics/vmagent
    tag: v1.97.0
    pullPolicy: IfNotPresent
  nodeSelector:
    monitoring: "true"
  externalLabels:
    cluster: default
  scrapeInterval: 30s
  podScrapeSelector:
    matchLabels:
      ops: "true"
  serviceScrapeSelector:
    matchLabels:
      ops: "true"
  resources:
    requests:
      cpu: "30"
      memory: 200Gi
    limits:
      cpu: "100"
      memory: 500Gi
  extraArgs:
    memory.allowedPercent: "40"
  host_aliases:
    - ip: 127.0.0.1
      hostnames:
        - xxx.com
  remoteWrite:
    - url: "https://xxx.com/prometheus/api/v1/write"
      bearerTokenSecret:
        name: vmagent-ops-bearer-token
        key: token
      sendTimeout: 180s